.git
.github
.gitignore

frontend
blockchain
src
model_pipeline

**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.cache
**/.venv
**/node_modules
**/dist
**/build

*.log
*.sqlite
*.db
*.pyc
*.pyo

backend/tests
backend/backend_server.log
frontend/frontend_server.log

.codex_*
